*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #b9b9b94d;
}
nav{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding:5px 0 5px 30px ;
}

.desc{
    width: 170px;
    display: none;
}
.red, .green{
 width:20px ;
 height: 8px;
 display: inline-block;
}

.green{
    background-color: green !important;
}

.red{
    background-color: red !important;
}

.data-bar{

    position: absolute;

    width: 170px;

    display: none;

   }



.left
{
    position: fixed;
    right: 10px;
}

.logo
{
    position: fixed;
}

.logo >a{
    font-size: 32px;
}

h6
{
    color:white;
}

.logout{
    margin-left: 10px;
}

.file_download
{
    color: black;
    margin-left: 20px;
    margin-top: 20px;
}

.data-img{
    position: fixed;
    width: 100%;
    z-index: -1;
}
.input{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.button{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.visual-btn{
    width: 300px;
    margin-left: 10px;
    border: none;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding-top: 8px;
}
/* canvas-css */

.visual-canvas{
    width: 100vw;
    height: 100vh;
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.main-canvas{
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    overflow: hidden;
}

.properties{
    border: 1px solid red;
    position: absolute;
    z-index: 5;
    margin-top: 30px;
    right: 10px;
    font-size: 18px;
    width: 30%;
    height: 90%;
    background-color: rgba(128, 128, 128, 0.452);
    border-radius: 5px;
}


